/**
 * Tailwind
*/

@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

/**
 * Imports
*/

@import './loading.scss';
@import './spacing.scss';
@import './sidebar.scss';

/**
 * Setup
*/

html, body, .react-app {
  height: 100%;
  font-family: 'Work Sans', sans-serif;
}

button {
  font-weight: normal;
}

label {
  cursor: inherit;
}

.react-app {
  display: flex;
  flex-direction: column;
}

.translate-x-full {
  transform: translateX(100%);
}

.translate-x-1\/2 {
  transform: translateX(50%);
}

.-translate-x-full {
  transform: translateX(-100%);
}

.-translate-x-1\/2 {
  transform: translateX(-50%);
}

.translate-y-full {
  transform: translateY(100%);
}

.translate-y-1\/2 {
  transform: translateY(50%);
}

.-translate-y-full {
  transform: translateY(-100%);
}

.-translate-y-1\/2 {
  transform: translateY(-50%);
}

/**
 * Transitions
*/

@screen md {
  * {
    transition: opacity 128ms,
                color 32ms,
                border-color 128ms,
                background-color 128ms;
  }
}

.flash-message {
  transition: opacity 256ms;
}

/**
 * Sidebars
*/

.w-full-less-sidebar-sm,
.w-full-less-sidebar-lg {
  width: 100%;
}

@screen lg {
  .w-full-less-sidebar-sm {
    width: calc(100% - 240px);
  }

  .w-full-less-sidebar-lg {
    width: calc(100% - 442px);
  }
}

/**
 * Button
*/

.btn {
  overflow: hidden;
  position: relative;
}

.btn.disabled,
.btn.loading {
  cursor: not-allowed;
}

.btn .btn-bg-overlay {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.btn:hover .btn-bg-overlay {
  opacity: 0.175;
}

.btn-42 {
  @apply px-4 py-2 rounded-lg;
}

.btn-43 {
  @apply px-4 py-3 rounded-lg;
}

.btn-44 {
  @apply px-4 py-4 rounded-lg;
}

.btn-82 {
  @apply px-8 py-2 rounded-lg;
}

.btn-83 {
  @apply px-8 py-3 rounded-lg;
}

.btn-84 {
  @apply px-8 py-4 rounded-lg;
}

/**
 * Modal
*/

.modal {
  @apply z-99999 fixed top-0 left-0 w-screen h-screen;
}

/**
 * Labeled Values
*/

.labeled-values .value:not(:first-child) {
  @apply mt-4;
}

/**
 * Admin Sidebars
*/

.bg-admin-sidebar-login {
  position: fixed;
  top: 0;
  left: 0;
  width: $sidebar-width;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #D8D8D8;
}
